body {
	width: 500px;
	margin: 80px auto;
	padding: 0;

	background: #faf8ef;
	color: #776e65;

	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

header {
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 80px;
	font-weight: 700;
	margin: 0;
	display: block;
	float: left;
}

.scores-container {
	display: flex;
	flex-direction: row;
	float: right;
}
.scores-container * + * {
	margin-left: 5px;
}
.score-container, .best-container {
	display: block;
	height: 25px;

	position: relative;
	background: #bbada0;
	padding: 15px 25px;
	font-size: 25px;
	line-height: calc(25px + 22px);
	font-weight: bold;
	border-radius: 3px;
	color: white;
	margin-top: 8px;
	text-align: center;
}
.score-container:after, .best-container:after {
	position: absolute;
	width: 100%;
	top: 10px;
	left: 0;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 13px;
	text-align: center;
	color: #eee4da;
}
.score-container:after {
	content: "Score";
}
.best-container:after {
	content: "Best";
}
@keyframes move-up {
	0% {
		top: 25px;
		opacity: 1;
	}
	100% {
		top: -50px;
		opacity: 0;
	}
}
.score-increase {
	position: absolute;
	right: 30px;
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
	color: rgba(119, 110, 101, 0.9);
	z-index: 100;
	animation: move-up 600ms ease-in forwards;
}

a {
	color: #776e65;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
a.restart-button {
	width: fit-content;
	display: block;
	background: #998a80;
	border-radius: 3px;
	padding: 0 20px;
	text-decoration: none;
	color: #f9f6f2;
	height: 40px;
	line-height: 42px;
}

.container {
	width: 500px;
	margin: 0 auto;
}

#game-container {
	margin-top: 40px;
	position: relative;
	padding: 15px;

	background: #bbada0;
	border-radius: 6px;

	width: 500px;
	height: 500px;
	box-sizing: border-box;
}

.grid-container {
	position: absolute;
	z-index: 1;
}

.grid-row {
	position: relative;
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}
.grid-row:last-child {
	margin-bottom: 0;
}

.grid-cell {
	width: calc((500px - 15px * (4 + 1)) / 4);
	height: calc((500px - 15px * (4 + 1)) / 4);
	margin-right: 15px;
	border-radius: 3px;

	background: #eee4da55;
}
.grid-cell:last-child {
	margin-right: 0;
}

.tile-container {
	position: absolute;
	z-index: 2;
}

.tile {
	position: absolute;
	width: calc((500px - 15px * (4 + 1)) / 4);
	height: calc((500px - 15px * (4 + 1)) / 4);
	line-height: calc((500px - 15px * (4 + 1)) / 4);
}

.tile-inner {
	border-radius: 3px;
	background: #eee4da;
	text-align: center;
	font-weight: bold;
	z-index: 10;

	font-size: 55px;
}

.tile.tile-position-0-0 {
	transform: translate(0, 0);
}
.tile.tile-position-0-1 {
	transform: translate(0, calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 1));
}
.tile.tile-position-0-2 {
	transform: translate(0, calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 2));
}
.tile.tile-position-0-3 {
	transform: translate(0, calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 3));
}
.tile.tile-position-1-0 {
	transform: translate(calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 1), 0);
}
.tile.tile-position-1-1 {
	transform: translate(calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 1), calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 1));
}
.tile.tile-position-1-2 {
	transform: translate(calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 1), calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 2));
}
.tile.tile-position-1-3 {
	transform: translate(calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 1), calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 3));
}
.tile.tile-position-2-0 {
	transform: translate(calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 2), 0);
}
.tile.tile-position-2-1 {
	transform: translate(calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 2), calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 1));
}
.tile.tile-position-2-2 {
	transform: translate(calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 2), calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 2));
}
.tile.tile-position-2-3 {
	transform: translate(calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 2), calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 3));
}
.tile.tile-position-3-0 {
	transform: translate(calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 3), 0);
}
.tile.tile-position-3-1 {
	transform: translate(calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 3), calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 1));
}
.tile.tile-position-3-2 {
	transform: translate(calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 3), calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 2));
}
.tile.tile-position-3-3 {
	transform: translate(calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 3), calc(((500px - 15px * (4 + 1)) / 4 + 15px) * 3));
}

.tile-new .tile-inner {
	animation: appear 200ms ease;
}

.tile {
	transition: 100ms ease-in-out transform;
}

.tile-merged .tile-inner {
	animation: pop 200ms ease;
	animation-fill-mode: backwards;
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes pop {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

.tile.tile-4 .tile-inner {
	background: #eee1c9;
}
.tile.tile-8 .tile-inner {
	background: #f3b27a;
	color: #f9f6f2;
}
.tile.tile-16 .tile-inner {
	background: #f69664;
	color: #f9f6f2;
}
.tile.tile-32 .tile-inner {
	background: #f77c5f;
	color: #f9f6f2;
}
.tile.tile-64 .tile-inner {
	background: #f75f3b;
	color: #f9f6f2;
}
.tile.tile-128 .tile-inner {
	font-size: 45px;
	background: #edd073;
	color: #f9f6f2;
}
.tile.tile-256 .tile-inner {
	font-size: 45px;
	background: #edcc62;
	color: #f9f6f2;
}
.tile.tile-512 .tile-inner {
	font-size: 45px;
	background: #edc950;
	color: #f9f6f2;
}
.tile.tile-1024 .tile-inner {
	font-size: 35px;
	background: #edc53f;
	color: #f9f6f2;
}
.tile.tile-2048 .tile-inner {
	font-size: 35px;
	background: #edc22e;
	color: #f9f6f2;
}
.tile.tile-super .tile-inner {
	font-size: 35px;
	background: #3c3a33;
	color: #f9f6f2;
}
