body {
	margin: 0;
	padding: 0;

	background: #faf8ef;
}

.container {
	width: 500px;
	margin: 0 auto;
}

#game-container {
	margin-top: 40px;
	position: relative;
	padding: 15px;

	background: #bbada0;
	border-radius: 6px;

	width: 500px;
	height: 500px;
	box-sizing: border-box;
}
